
.categories_container {
    gap: 5px;
    width: 100%;
    }
    
    .category_btn {
    background: #c2c0c0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    
    &:focus {
    outline: none;
    }
    
    &:hover {
    background: #a09f9f;
    }
    }
    
    .selected {
    background: black;
    
    .category_name {
    color: white;
    }
    }
    
    .category_name {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    }