.category-btn {
    margin-right: 10px;
    border: 1px solid #b3b1b1;
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px;
    background-color: #c2c0c0;
    &:hover{
        background-color: #adadad;
    }
}