.categories_container {
    padding-bottom: 10px;
    gap: 5px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category_btn {
    background: #e6e3e3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 5px;

    &:focus {
        outline: none;
    }

    &:hover {
        background: #a09f9f;
    }
}

.selected {
    background: rgb(126, 123, 123);

    .category_name {
        color: white;
    }
}

.category_name {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}