.container {
    position: relative;
  }
  
  .card {
    width: 100%;
    box-shadow: none;
    border-radius: 10px;
  }
  
  .cardMedia {
    width: 100%;
    height: 180px;
  }
  
  .cardContent {
    background-color: #dfdcdc;
    height: 60px;
    position: relative;
  }
  
  .cardTitle {
    font-weight: bold;
    color: #050505;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .channelLink {
    text-decoration: none;
  }
  
  .channelTitle {
    color: rgb(43, 32, 32);
    display: flex;
    align-items: center;
    position: absolute;

    
    padding: 0 0px;
    box-sizing: border-box;
    background-color:gray;
    border-radius: 20%;
  }
  