.container {
    position: relative;
    color: black;
}

.addToPlayListMainBtn {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px;
    border-radius: 20px;

    &:hover {
        background-color: rgb(221, 218, 218);
    }

}

.menu,
.createPlaylist {
    //max-width: 200px;
    margin-top: 5px;
    color: #000000;
    border-radius: 10px;
    padding: 5px 15px;
    position: absolute;
    z-index: 10;
    background-color: #e7e7e7;
    text-align: left;
    border: 1px solid rgba(128, 128, 128, 0.753);
    word-wrap: break-word;

    .playlistNameText {
        word-wrap: break-word;
    }
}



.createBtn,
.createPlaylistBtn {
    border-radius: 20px;
    font-size: 14px;
    margin: 0 auto;

    &:hover {
        background-color: rgb(221, 218, 218);

    }
}

.infoText {
    color: rgb(61, 60, 60);

}

.selectText {
    color: rgb(61, 60, 60);
    font-size: 14px;
}

.inputPlaylist {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgb(221, 218, 218);
    margin-bottom: 5px;
    word-wrap: break-word;

}