.form {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  padding-left: 1rem;
  box-shadow: none;
  margin-right: 2rem;
}


.input {
  flex: 1;
  border: none;
  outline: none;
}

.button {
  border: 1px solid rgb(221, 218, 218);
  padding: 0.15rem;
  color: rgb(141, 142, 143);
  background-color: transparent;
  font-weight: normal;

  &:hover {
    background-color: rgb(221, 218, 218);
  }
}