.form {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  padding-left: 1rem;
  box-shadow: none;
  margin-right: 2rem;
}


.input {
  flex: 1;
  border: none;
  outline: none;
}

button {
  border: none;
  padding: 0.25rem 0.5rem;
  color: rgb(141, 142, 143);
  background-color: transparent;
  font-weight: normal;

  &:hover {
    background-color: rgb(221, 218, 218);
  }
}

.buttonClear,
.buttonMic {
  border-radius: 50%;
  margin-right: 5px;
}

.buttonSrc {
  border-radius: 0 20px 20px 0;
  border-left: 1px solid #e3e3e3;
  background-color: #f0eaea;
  padding-left: 20px;
  padding-right: 20px;

}