.playlistsCategoryContainer {

  .categoryTitle {
    margin: 20px;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .showMoreBtn {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 10px;
      border-radius: 20px;

      &:hover {
        background-color: rgb(221, 218, 218);
      }
    }
  }

}