.loginRegistrationNavbarButton {
  background-color: #ffffff; // white background
  color: #0f0f0f; // blue text color
  font-weight: 500;
  border: none; // remove button border
  // border-radius: 30%; // set initial border radius to 50%
  transition: background-color 1s, color 0.5s, border-radius 1s; // add transition effect
}

.loginRegistrationNavbarButton:hover {
  background-color: #3b97fad0; // blue background on hover
  color: white; // white text color on hover
  // border-radius: 15%; // change border radius to 15% on hover
}
