.loginRegistrationNavbarButton {
  background-color: #ffffff;
  color: #0f0f0f;
  font-weight: 500;
  border: none;

  transition: background-color 1s, color 0.5s, border-radius 1s;
}

.loginRegistrationNavbarButton:hover {
  background-color: #3b97fad0;
  color: white;
}
