.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.title {
    margin-top: 15px;
    color: rgb(61, 60, 60);
    font-family: "Roboto", "Arial", sans-serif;
}