.card {
    color: black;
    max-width: 600px;
    border-radius: 15px;
    background-color: #f7f4f47e;
    padding: 10px;
}

.logoNicknameContainer {
    display: flex;
}

.commentText {
    padding: 5px 5px 0;
    word-wrap: break-word;
}

.buttonsContainer {
    display: flex;
}

.clicked {
    border-radius: 15px;
    padding-top: 5px;

}

.notClicked {
    background-color: transparent;
    border-radius: 10px;

}

.userLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}