.singleCommentCard {
    color: black;
    max-width: 600px;
    border-radius: 15px;
    background-color: #f7f4f47e;
    padding: 0 10px;
    display: flex;

    .commentPart {
        .commentText {
            padding: 0 5px 0;
            margin-bottom: 0;
            word-wrap: break-word;
            word-break: break-all;
        }

        .buttonsContainer {
            display: flex;
            border-radius: 20px;

            .commentLikeBtn,
            .commentDislikeBtn {
                background-color: white;
            }
        }
    }


    .userLogo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}