.card {
    color: black;
}

.buttonsContainer {
    display: flex;
  }

.clicked {
    border-radius: 15px;
    padding-top: 5px;

}

.notClicked {
    background-color: transparent;
    border-radius: 10px;

}