.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  