.channelCard {
  border-radius: 20px;
  background-color: #ffffff23;
  max-height: 270px;
  max-width: 256px;
  margin: 0 auto;
  text-align: center;

  img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 10px 0;
    border: 1px solid #e3e3e3;
  }
}

.channelCardBody {
  color: rgb(66, 65, 65);
  text-align: center;

  .channelCardTitle {
    color: rgb(48, 48, 48);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    text-transform: capitalize;
  }

  .channelCardText {
    color: rgb(66, 65, 65);
    font-size: 0.875rem;
    font-weight: 500;
  }
}
