.container {
  min-height: 95vh;

  .header {
    position: relative;
    height: 300px;
    background: linear-gradient(90deg,
        rgb(0, 78, 247) 0%,
        rgb(221, 44, 97) 100%,
        rgb(3, 101, 121) 100%);
    z-index: 10;
  }

}