.container {
  min-height: 95vh;

  .header {
    height: 260px;
    background: linear-gradient(90deg,
        rgb(0, 78, 247) 0%,
        rgb(221, 44, 97) 100%,
        rgb(3, 101, 121) 100%);
    margin-bottom: 30px;
    border-radius: 10px;

  }

}