.container {
    padding: 2rem;
    min-height: 95vh;
  }
  
  .title {
    font-weight: 900;
    color: black;
    margin-bottom: 3rem;
    margin-left: 100px;
  
    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
  
    span {
      color: #FC1503;
    }
  }
  
  .content {
    display: flex;
  }
  
  .spacing {
    margin-right: 100px;
  
    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }
  