.container {
  min-height: 95vh;
}

.title {
  font-weight: 900;
  color: black;
  margin-bottom: 20px;
  margin-left: 100px;

  @media screen and (max-width: 600px) {
    margin-left: 0;
  }

}

.content {
  display: flex;

}