.profileContainer {
  background-size: auto;

  padding: 10px 0px 50px 0px;
  border-radius: 10px;
  transition: border-radius 5s ease-out;
  margin-left: 150px;

  &:hover {
    border-radius: 200px;
  }
}

profileText {
  color: rgb(93, 147, 177);
}

.profile_image_container {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  align-items: center;
}

.profileButton {
  background: rgb(63, 63, 68);
}

.profileForms {
  width: 250px !important;
}

.videoLogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 108%;
  height: 110%;
  z-index: -1;
}
